---
# Создание сертификата для указанного домена, если таковой не был обнаружен:
- name: Generate new certificate if one doesn't exist on any distro
  command: "{{ global_haproxy_enable_certbot_certificates_command }}"
  args:
    creates: "/etc/letsencrypt/live/{{ global_haproxy_host_domain }}/cert.pem"

# Проверка того, что директория для хранения сертификатов существует:
- name: Ensure certificate directory is exists on any distro
  file:
    state: directory
    path: "{{ local_system_haproxy_dir_ssl }}"
    mode: "{{ local_system_haproxy_dir_mode }}"
    owner: "{{ local_system_haproxy_file_owner }}"
    group: "{{ local_system_haproxy_file_group }}"

# Объединение fullchain.pem и privkey.pem для последующего использования HAProxy:
- name: Combine fullchain.pem and privkey.pem for HAProxy on any distro
  assemble:
    src: "/etc/letsencrypt/live/{{ global_haproxy_host_domain }}/"
    regexp: '(fullchain\.pem|privkey\.pem)'
    dest: "{{ local_system_haproxy_dir_ssl }}/{{ global_haproxy_host_domain }}.pem"
    mode: "{{ local_system_haproxy_file_mode }}"
    owner: "{{ local_system_haproxy_file_owner }}"
    group: "{{ local_system_haproxy_file_group }}"
  notify: Restart HAProxy
