---
# Вызов предварительной роли system-prepare для полноценного запуска текущей роли:
- name: Import system-prepare role for running current role on Debian family distro
  import_role:
    name: system-prepare
    tasks_from: main

# Определение конечного списка пакетов для установки в зависимости от используемой схемы HTTP:
- name: Set final package list for this role on Debian family distro
  set_fact:
    local_system_haproxy_package_list: >-
      {{
        local_system_haproxy_main_package_list +
        (global_haproxy_enable_certbot_certificates | default(false) | bool | ternary(local_system_haproxy_additional_package_list, []))
      }}

# Установка всех необходимых пакетов с помощью пакетного менеджера:
- name: Install required packages on Debian family distro
  apt:
    name: "{{ local_system_haproxy_package_list }}"
    state: present
    update_cache: true

# Создание дополнительной директории для хранения специфической конфигурации:
- name: Create HAProxy conf.d/ directory on Debian family distro
  file:
    state: directory
    path: "{{ local_system_haproxy_debian_dir_config }}"
    mode: "{{ local_system_haproxy_dir_mode }}"
    owner: "{{ local_system_haproxy_file_owner }}"
    group: "{{ local_system_haproxy_file_group }}"

# Определение пути для Systemd Unit файла в зависимости от версии дистрибутива для Debian:
- name: Set Systemd Unit path based on Debian version
  set_fact:
    _haproxy_systemd_path: "{{ ((ansible_distribution == 'Debian' and ansible_distribution_major_version | int <= 11) or (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version | int <= 20)) | ternary('/etc/systemd/system/', '/usr/lib/systemd/system/') }}"

# Определение используемой конфигурации для Vault:
- name: Set Vault config template name on Debian version
  set_fact:
    _haproxy_vault_config: "{{ global_haproxy_set_cluster_vault_config | bool | ternary(local_system_haproxy_cluster_vault_config, local_system_haproxy_single_vault_config) }}"

# Копирование всех конфигурационных файлов HAProxy и их последующая отправка в соответствующие директории:
- name: Copy HAProxy configuration files from templates on Debian family distro
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default(local_system_haproxy_file_mode) }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
  loop:
    - src: "templates/{{ local_system_haproxy_main_config }}"
      dest: "{{ local_system_haproxy_debian_default_config }}"
      mode: "{{ local_system_haproxy_file_mode }}"
      owner: "{{ local_system_haproxy_file_owner }}"
      group: "{{ local_system_haproxy_file_group }}"
    - src: "templates/{{ _haproxy_vault_config }}"
      dest: "{{ local_system_haproxy_debian_dir_config }}/{{ global_haproxy_host_domain }}.cfg"
      mode: "{{ local_system_haproxy_file_mode }}"
      owner: "{{ local_system_haproxy_file_owner }}"
      group: "{{ local_system_haproxy_file_group }}"
    - src: "templates/{{ local_system_haproxy_manual_file_systemd }}.j2"
      dest: "{{ _haproxy_systemd_path }}{{ local_system_haproxy_manual_file_systemd }}"
      mode: "{{ local_system_haproxy_file_mode }}"
      owner: "0"
      group: "0"
  notify: Restart HAProxy

# Обновление прав у дополнительной директории для хранения файлов об ошибках:
- name: Update HAProxy errors/ directory on Debian family distro
  file:
    state: directory
    path: "{{ local_system_haproxy_debian_dir_errors }}"
    mode: "{{ local_system_haproxy_dir_mode }}"
    owner: "{{ local_system_haproxy_file_owner }}"
    group: "{{ local_system_haproxy_file_group }}"

# Поиск всех необходимых файлов в директории для последующего изменения их прав:
- name: Find all files in directory on Debian family distro
  find:
    paths: "{{ local_system_haproxy_debian_dir_errors }}"
    file_type: file
  register: error_dir_files

# Установка соответствующих прав для объявленных ранее файлов:
- name: Set permissions for all found files on Debian family distro
  file:
    path: "{{ item.path }}"
    mode: "{{ local_system_haproxy_file_mode }}"
    owner: "{{ local_system_haproxy_file_owner }}"
    group: "{{ local_system_haproxy_file_group }}"
  loop: "{{ error_dir_files.files }}"

# Установка специфического пакета, который необходим для корректной работы Certbot (только Ubuntu 20.04):
- name: Install required packages for pip on Debian family distro
  pip:
    name: "{{ local_system_haproxy_debian_pip_package_list }}"
    state: present
    executable: pip3
  when:
    - global_haproxy_enable_certbot_certificates | default(false) | bool
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_version == '20.04'

# Вызов задачи по созданию и установке внешнего сертификата для указанного домена:
- name: Invocation of the certificate.yaml task on Debian family distro
  include_tasks: certificate.yaml
  when: global_haproxy_enable_certbot_certificates | default(false) | bool

# Запуск сервиса Certbot для отслеживания состояния сертификата:
- name: Start Certbot.timer on Debian family distro
  systemd:
    name: certbot.timer
    state: started
    enabled: true
  when: global_haproxy_enable_certbot_certificates | default(false) | bool

# Валидация конфигурации HAProxy перед запуском сервиса:
- name: Validate HAProxy configuration on Debian family distro
  command: haproxy -c -f {{ local_system_haproxy_debian_default_config }} -f {{ local_system_haproxy_debian_dir_config }}
  changed_when: false

# Принудительный вызов всех ожидающих обработчиков перед запуском сервиса:
- name: Flush handlers before starting HAProxy on Debian family distro
  meta: flush_handlers

# Запуск сервиса HAProxy через Systemd:
- name: Start HAProxy service on Debian family distro
  systemd:
    name: haproxy
    state: started
    daemon_reload: true
    enabled: true
