---
# Переменные, необходимые для получения сертификатов, относящихся к Consul Cluster (только при использовании TLS), применимые ко всем дистрибутивам в равной степени:
external_consul_manual_cluster_file_ca_certificate: "consul-ca.crt.pem"
external_consul_manual_cluster_file_ca_private_key: "consul-ca.key.pem"
external_consul_manual_cluster_file_ca_node_value: "{{ inventory_hostname }}"
external_consul_manual_cluster_file_ca_node_value_file_mode: "0640"
external_consul_manual_cluster_file_ca_node_value_dir_mode: "0755"
external_consul_manual_cluster_file_ca_node_value_owner: "root"

# Переменные, необходимые для установки и настройки Single Consul Agent в мануальном режиме, применимые ко всем дистрибутивам в равной степени:
local_consul_manual_agent_dir_mode: "0755"
local_consul_manual_agent_dir_config: "/etc/consul.d"
local_consul_manual_agent_dir_data: "/opt/consul/data"
local_consul_manual_agent_dir_tls: "/opt/consul/tls"
local_consul_manual_agent_file_mode: "0640"
local_consul_manual_agent_file_archive_link: "https://releases.hashicorp.com/consul/{{ global_consul_current_version }}/consul_{{ global_consul_current_version }}_linux_amd64.zip"
local_consul_manual_agent_file_archive_name: "consul.zip"
local_consul_manual_agent_file_autocomplete_j2: "consul_agent_autocomplete.j2"
local_consul_manual_agent_file_autocomplete_path: "/etc/bash_completion.d/consul"
local_consul_manual_agent_file_config: "config.hcl"
local_consul_manual_agent_file_systemd: "consul.service"
local_consul_manual_agent_path_binary: "/usr/local/bin"
local_consul_manual_agent_user: "consul"
local_consul_manual_agent_user_id: 451
local_consul_manual_agent_group: "consul"
local_consul_manual_agent_group_id: 451

# Переменные, необходимые для установки и настройки Single Consul Agent в мануальном режиме для дистрибутивов семейства SUSE:

# Переменные, необходимые для установки и настройки Single Consul Agent в мануальном режиме для дистрибутивов семейства RedHat:

# Переменные, необходимые для установки и настройки Single Consul Agent в мануальном режиме для дистрибутивов семейства Debian:
