---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: centos9
    image: mdd13/ansible-docker-redhat:centos9
    <<: &platform_defaults
      pre_build_image: true
      privileged: true
      override_command: false
      cgroup_parent: docker.slice
      cgroupns_mode: host
      tmpfs:
        - /run
        - /tmp
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup:rw
      security_opts:
        - seccomp=unconfined

  - name: redhat9
    image: mdd13/ansible-docker-redhat:redhat9
    <<: *platform_defaults

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    links:
      group_vars: ../../../../inventory/group_vars/

verifier:
  name: ansible
