---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: opensuse15.6
    image: mdd13/ansible-docker-suse:opensuse15.6
    <<: &platform_defaults
      pre_build_image: true
      privileged: true
      override_command: false
      cgroup_parent: docker.slice
      cgroupns_mode: host
      tmpfs:
        - /run
        - /tmp
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup:rw
      security_opts:
        - seccomp=unconfined

  - name: opensuse16.0
    image: mdd13/ansible-docker-suse:opensuse16.0
    <<: *platform_defaults

  - name: sles15.6
    image: mdd13/ansible-docker-suse:sles15.6
    <<: *platform_defaults

  - name: sles16.0
    image: mdd13/ansible-docker-suse:sles16.0
    <<: *platform_defaults

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: default
    ANSIBLE_RESULT_FORMAT: yaml
  inventory:
    links:
      group_vars: ../../../../inventory/group_vars/

verifier:
  name: ansible
