---
# Проверка того, был ли создан SSL-сертификат для запрашиваемого домена:
- name: Check if certificate already exists on any distro
  stat:
    path: /etc/letsencrypt/live/{{ global_nginx_host_domain }}/cert.pem
  register: letsencrypt_cert

# Создание сертификата для указанного домена, если таковой не был обнаружен:
- name: Generate new certificate if one doesn't exist on any distro
  command: "{{ global_nginx_enable_certbot_certificates_command }}"
  when: not letsencrypt_cert.stat.exists
