---
# Вызов предварительной роли system-prepare для полноценного запуска текущей роли:
- name: Import system-prepare role for running current role on Debian family distro
  import_role:
    name: system-prepare
    tasks_from: main

# Определение конечного списка пакетов для установки в зависимости от используемой схемы HTTP:
- name: Set final package list for this role on Debian family distro
  set_fact:
    local_system_nginx_package_list: >-
      {{
        local_system_nginx_main_package_list +
        (global_nginx_enable_certbot_certificates | bool | ternary(local_system_nginx_additional_package_list, []))
      }}

# Установка всех необходимых пакетов с помощью пакетного менеджера:
- name: Install required packages on Debian family distro
  apt:
    name: "{{ local_system_nginx_package_list }}"
    state: present
    update_cache: true

# Удаление стандартной конфигурации Nginx в системе:
- name: Delete default Nginx configuration on Debian family distro
  file:
    state: absent
    path: "{{ item.path }}"
  loop:
    - {path: "{{ local_system_nginx_debian_available_dir }}/default"}
    - {path: "{{ local_system_nginx_debian_enabled_dir }}/default"}

# Передача конфигурационного файла Nginx для проксирования запросов к запущенному Vault:
- name: Copy Nginx config for Vault on Debian family distro
  template:
    src: "templates/{{ lookup('vars', global_nginx_set_cluster_vault_config | ternary('local_system_nginx_cluster_vault_config', 'local_system_nginx_single_vault_config')) }}"
    dest: "{{ local_system_nginx_debian_available_dir }}/{{ global_nginx_host_domain }}.conf"
    mode: "{{ local_system_nginx_file_mode }}"
    owner: "{{ local_system_nginx_file_owner }}"
    group: "{{ local_system_nginx_file_group }}"
  notify: Restart Nginx

# Создание символической ссылки на конфигурационный файл из Available директории в Enabled директорию:
- name: Create a symlink on Debian family distro
  file:
    src: "{{ local_system_nginx_debian_available_dir }}/{{ global_nginx_host_domain }}.conf"
    dest: "{{ local_system_nginx_debian_enabled_dir }}/{{ global_nginx_host_domain }}.conf"
    state: link
  notify: Restart Nginx

# Вызов задачи по усозданию и установке внешнего сертификата для указанного домена:
- name: Invocation of the certificate.yaml task on Debian family distro
  include_tasks: certificate.yaml
  when: global_nginx_enable_certbot_certificates | default(false) | bool

# Регистрация проверки конфигурации Nginx в переменную:
- name: Register the output of command nginx -t after changes on Debian family distro
  command: nginx -t
  register: nginx_validate
  changed_when: false
  failed_when: false

# Результат вывода переменной на экран:
- name: The output result of our variable on Debian family distro
  debug:
    var: nginx_validate.stderr

# Запуск сервиса Nginx с помощью Systemd:
- name: Start Nginx service on Debian family distro
  systemd:
    name: nginx
    state: started
    daemon_reload: true
    enabled: true
