---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: ubuntu20.04
    image: mdd13/ansible-docker-ubuntu:ubuntu20.04
    <<: &platform_defaults
      pre_build_image: true
      privileged: true
      override_command: false
      cgroup_parent: docker.slice
      cgroupns_mode: host
      tmpfs:
        - /var/lib/containerd
        - /var/lib/docker
        - /run
        - /tmp
      security_opts:
        - seccomp=unconfined

  - name: ubuntu22.04
    image: mdd13/ansible-docker-ubuntu:ubuntu22.04
    <<: *platform_defaults

  - name: ubuntu24.04
    image: mdd13/ansible-docker-ubuntu:ubuntu24.04
    <<: *platform_defaults

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: default
    ANSIBLE_RESULT_FORMAT: yaml
  inventory:
    links:
      group_vars: ../../../../inventory/group_vars/

verifier:
  name: ansible
