---
# Переменные, необходимые для создания самоподписного CA и выпущенных им сертификатов, применимые ко всем дистрибутивам в равной степени:
local_system_internal_ca_key_owner: "root"
local_system_internal_bin_path: "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
local_system_internal_dir_mode: "0755"
local_system_internal_dir_temporary: "/tmp/temp_certs"
local_system_internal_file_ca_cert_mode: "0640"
local_system_internal_file_ca_key_mode: "0640"
local_system_internal_file_ca_cert_path: "{{ global_system_internal_dir_ca }}/{{ global_system_internal_file_ca_certificate }}"
local_system_internal_file_ca_csr_path: "{{ global_system_internal_dir_ca }}/{{ global_system_internal_file_ca_csr }}"
local_system_internal_file_ca_key_path: "{{ global_system_internal_dir_ca }}/{{ global_system_internal_file_ca_privatekey }}"

# Переменные, необходимые для создания самоподписного CA и выпущенных им сертификатов для дистрибутивов семейства SUSE:
local_system_internal_suse_path_ca: "/usr/share/pki/trust/anchors/ca.crt"

# Переменные, необходимые для создания самоподписного CA и выпущенных им сертификатов для дистрибутивов семейства RedHat:
local_system_internal_redhat_path_ca: "/etc/pki/ca-trust/source/anchors/ca.crt"

# Переменные, необходимые для создания самоподписного CA и выпущенных им сертификатов для дистрибутивов семейства Debian:
local_system_internal_debian_path_ca: "/usr/local/share/ca-certificates/ca.crt"
