---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: opensuse15.6
    image: mdd13/ansible-docker-suse:opensuse15.6
    <<: &platform_defaults
      pre_build_image: true
      privileged: true
      override_command: false
      cgroup_parent: docker.slice
      cgroupns_mode: host
      security_opts:
        - seccomp=unconfined
      groups:
        - vault_cluster
        - consul_cluster

  - name: opensuse16.0
    image: mdd13/ansible-docker-suse:opensuse16.0
    <<: *platform_defaults

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    links:
      group_vars: ../../../../group_vars/

verifier:
  name: ansible
