ui                = true
disable_mlock     = true
max_lease_ttl     = "768h"
default_lease_ttl = "24h"

storage "file" {
  path            = "{{ vault_docker_dir_data }}"
}

listener "tcp" {
  address         = "{{ vault_host_local_listening_address }}:{{ vault_host_local_listening_port }}"
  tls_disable     = "true"
}
