ui                = true
disable_mlock     = true
max_lease_ttl     = "768h"
default_lease_ttl = "24h"

storage "file" {
  path            = "{{ local_vault_docker_dir_data }}"
}

listener "tcp" {
  address         = "{{ global_vault_host_listening_address }}:{{ global_vault_host_listening_port }}"
  tls_disable     = "true"
}
