ARG VERSION

FROM hashicorp/vault:${VERSION} AS base

LABEL maintainer="Ivan Medaev"

ENV USER=vault

USER root

RUN apk --no-cache add shadow \
    && usermod --uid {{ local_vault_docker_user_id }} ${USER} \
    && groupmod --gid {{ local_vault_docker_group_id }} ${USER} \
    && mkdir -p {{ local_vault_docker_dir_data }} \
    && chown -R {{ local_vault_docker_user_id }}:{{ local_vault_docker_group_id }} {{ local_vault_docker_dir_data }} /vault/config /vault/file /vault/logs \
    && apk del shadow

USER ${USER}

EXPOSE {{ global_vault_host_listening_port }}

HEALTHCHECK --interval=30s --timeout=10s --start-period=10s --retries=3 \
    CMD wget --no-verbose --tries=1 --spider http://127.0.0.1:{{ global_vault_host_listening_port }}/v1/sys/health?standbyok=true || exit 1
