---
services:
  vault:
    build:
      context: .
      dockerfile: {{ local_vault_docker_file_dockerfile }}
      args:
        VERSION: {{ global_vault_current_version }}
    container_name: vault
    image: vault
    restart: on-failure
    command: vault server -config=/vault/config/{{ local_vault_docker_file_config }}
    user: vault
    environment:
      VAULT_ADDR: http://localhost:{{ global_vault_host_listening_port }}
      SKIP_SETCAP: true
    ports:
      - {{ global_vault_host_listening_address }}:{{ global_vault_host_listening_port }}:{{ global_vault_host_listening_port }}
    volumes:
      - ./config/{{ local_vault_docker_file_config }}:/vault/config/{{ local_vault_docker_file_config }}
      - ./data:{{ local_vault_docker_dir_data }}
    cap_add:
      - IPC_LOCK
    networks:
      - vault

networks:
  vault:
    name: vault
    driver: bridge
