{% set suffix = "-transit" if global_vault_transit_backend_enable | default(false) else "" %}
---
services:
  vault:
    build:
      context: .
      dockerfile: {{ local_vault_docker_file_dockerfile }}
      args:
        VERSION: {{ global_vault_current_version }}
    container_name: vault{{ suffix }}
    image: vault{{ suffix }}
    restart: on-failure
    command: vault server -config=/vault/config/{{ local_vault_docker_file_config }}
    user: vault
    environment:
      VAULT_ADDR: http://localhost:{{ global_vault_host_listening_port }}
      SKIP_SETCAP: "true"
      SKIP_CHOWN: "true"
    ports:
      - {{ global_vault_host_listening_address }}:{{ global_vault_host_listening_port }}:{{ global_vault_host_listening_port }}
    volumes:
      - ./config/{{ local_vault_docker_file_config }}:/vault/config/{{ local_vault_docker_file_config }}
      - ./data:{{ local_vault_docker_dir_data }}
    cap_add:
      - IPC_LOCK
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - vault{{ suffix }}

networks:
  vault{{ suffix }}:
    name: vault{{ suffix }}
    driver: bridge
