---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: debian11
    image: mdd13/ansible-docker-debian:debian11
    <<: &platform_defaults
      pre_build_image: true
      tmpfs:
        - /run
        - /tmp
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup:rw
      privileged: true
      cgroup_parent: docker.slice
      cgroupns_mode: host
      override_command: false

  - name: debian12
    image: mdd13/ansible-docker-debian:debian12
    <<: *platform_defaults

  - name: debian13
    image: mdd13/ansible-docker-debian:debian13
    <<: *platform_defaults

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: default
    ANSIBLE_RESULT_FORMAT: yaml
  inventory:
    links:
      group_vars: ../../../../inventory/group_vars/

verifier:
  name: ansible
