---
# Вызов предварительной роли system-prepare для полноценного запуска текущей роли:
- name: Import system-prepare role for running current role on Debian family distro
  import_role:
    name: system-prepare
    tasks_from: main

# Вызов предварительной роли system-internal-certificates для полноценного запуска текущей роли в рамках заданных условий:
- name: Import system-internal-certificates role for running current role on Debian family distro
  import_role:
    name: system-internal-certificates
    tasks_from: main
  when: global_vault_cluster_enable_https | bool

# Создание группы с именем Vault:
- name: Create Vault Cluster group on Debian family distro
  group:
    name: "{{ local_vault_manual_cluster_group }}"
    gid: "{{ local_vault_manual_cluster_group_id }}"
    state: present

# Создание пользователя с именем Vault:
- name: Create Vault Cluster user on Debian family distro
  user:
    name: "{{ local_vault_manual_cluster_user }}"
    groups: "{{ local_vault_manual_cluster_group }}"
    uid: "{{ local_vault_manual_cluster_user_id }}"
    home: "{{ local_vault_manual_cluster_dir_data }}"
    shell: /sbin/nologin
    append: true

# Вызов предварительной задачи consul-ca-tls.yaml для полноценного завершения текущей роли в рамках заданных условий:
- name: Import Consul CA task for running current role on Debian family distro
  include_tasks: consul-ca-tls.yaml
  when: global_vault_cluster_enable_consul and global_vault_cluster_enable_consul_https | bool

# Создание нескольких директорий для последующей работы с кластером Vault:
- name: Create Vault Cluster directories on Debian family distro
  file:
    state: directory
    path: "{{ item.path }}"
    mode: "{{ local_vault_manual_cluster_dir_mode }}"
    owner: "{{ local_vault_manual_cluster_user }}"
    group: "{{ local_vault_manual_cluster_group }}"
  loop:
    - {path: "{{ local_vault_manual_cluster_dir_config }}"}
    - {path: "{{ local_vault_manual_cluster_dir_data }}"}

# Загрузка архива с бинарным файлом Vault из Интернета по прямой ссылке:
- name: Download Vault Cluster archive for future installation on Debian family distro
  get_url:
    url: "{{ local_vault_manual_cluster_file_archive_link }}"
    mode: "{{ local_vault_manual_cluster_file_mode }}"
    dest: "/tmp/{{ local_vault_manual_cluster_file_archive_name }}"
    checksum: "{{ global_vault_file_archive_checksum }}"
    force: false

# Извлечение архива и перемещение бинарного файла в соответствующую директорию:
- name: Unpack the Vault Cluster archive and move the binary file on Debian family distro
  unarchive:
    src: "/tmp/{{ local_vault_manual_cluster_file_archive_name }}"
    dest: "{{ local_vault_manual_cluster_path_binary }}"
    creates: "{{ local_vault_manual_cluster_path_binary }}/vault"
    mode: "0755"
    remote_src: true

# Копирование всех конфигурационных файлов Vault и их последующая отправка в соответствующие директории:
- name: Copy Vault Cluster configuration files from templates on Debian family distro
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default(local_vault_manual_cluster_file_mode) }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
  loop:
    - src: "templates/{{ local_vault_manual_cluster_file_autocomplete_j2 }}"
      dest: "{{ local_vault_manual_cluster_file_autocomplete_path }}"
      mode: "{{ local_vault_manual_cluster_file_mode }}"
      owner: "{{ local_vault_manual_cluster_user }}"
      group: "{{ local_vault_manual_cluster_group }}"
    - src: "templates/{{ lookup('vars', global_vault_cluster_enable_https | ternary('global_vault_cluster_https_config', 'global_vault_cluster_http_config')) }}"
      dest: "{{ local_vault_manual_cluster_dir_config }}/{{ local_vault_manual_cluster_file_config }}"
      mode: "{{ local_vault_manual_cluster_file_mode }}"
      owner: "{{ local_vault_manual_cluster_user }}"
      group: "{{ local_vault_manual_cluster_group }}"
  notify: Restart Vault Cluster

# Копирование Systemd файла из директории templates и его последующая передача в соответствующую директорию:
- name: Copy Vault Cluster systemd config on Debian family distro
  template:
    src: "templates/{{ local_vault_manual_cluster_file_systemd }}.j2"
    dest: "/usr/lib/systemd/system/{{ local_vault_manual_cluster_file_systemd }}"
    mode: "{{ local_vault_manual_cluster_file_mode }}"
    owner: "0"
    group: "0"
  when: ansible_distribution == 'Ubuntu' or (ansible_distribution == 'Debian' and ansible_distribution_major_version | int >= 12)
  notify: Restart Vault Cluster

# Копирование Systemd файла из директории templates и его последующая передача в соответствующую директорию:
- name: Copy Vault Cluster systemd config on Debian family distro (Old Debian Versions)
  template:
    src: "templates/{{ local_vault_manual_cluster_file_systemd }}.j2"
    dest: "/etc/systemd/system/{{ local_vault_manual_cluster_file_systemd }}"
    mode: "{{ local_vault_manual_cluster_file_mode }}"
    owner: "0"
    group: "0"
  when: ansible_distribution == 'Debian' and ansible_distribution_major_version | int < 12
  notify: Restart Vault Cluster

# Запуск и добавление в автозагрузку сервиса Vault с помощью Systemd:
- name: Start Vault Cluster service on Debian family distro
  systemd:
    name: vault
    state: started
    enabled: true
    daemon_reload: true

# Проверка того, что сертификат был создан на запущенном узле:
- name: Check that the certificate has been added on Debian family distro
  shell: |
    openssl s_client -connect 127.0.0.1:{{ global_vault_host_listening_port }} -CAfile {{ global_system_internal_dir_node_certificates }}/{{ global_system_internal_file_ca_certificate }} < /dev/null 2>/dev/null
  register: openssl_status_check
  until: "'Verification: OK' in openssl_status_check.stdout"
  retries: 5
  delay: 5
  failed_when: "'Verification: OK' not in openssl_status_check.stdout"
  changed_when: false
  when: global_vault_cluster_enable_https | bool

# Финальный вывод после проверки работоспособности сертификата:
- name: Output the result on Debian family distro
  debug:
    msg: "{{ openssl_status_check.stdout }}"
  when: global_vault_cluster_enable_https | bool
