---
# Удаление старой версии Docker, если таковая была установлена ранее:
- name: Ensure that old versions of Docker are not installed on Debian family distro
  package:
    name: "{{ local_system_debian_docker_packages_absent }}"
    state: absent

# Создание группы с именем docker для последующего использования в системе:
- name: Ensure that docker group exists on Debian family distro
  group:
    name: "{{ local_system_docker_group_name }}"
    state: present

# Добавление ключа репозитория для последующей установки Docker из пакетного менеджера:
- name: Add Docker repository key on Debian family distro
  get_url:
    url: "{{ local_system_debian_docker_apt_key }}"
    dest: "{{ local_system_debian_docker_destination_key }}"
    mode: "{{ local_system_debian_docker_file_mode }}"
    owner: "0"
    group: "0"
    force: true
  register: docker_key_download
  retries: 3
  delay: 5
  until: docker_key_download is success

# Добавление адреса репозитория для последующей установки Docker из пакетного менеджера:
- name: Add package repository address to sources.list on Debian family distro
  apt_repository:
    repo: "deb [arch={{ ansible_architecture | replace('x86_64', 'amd64') | replace('aarch64', 'arm64') }} signed-by={{ local_system_debian_docker_destination_key }}] {{ local_system_debian_docker_apt_repository }} {{ ansible_distribution_release }} stable"
    state: present
    update_cache: true

# Установка Docker с помощью пакетного менеджера:
- name: Install Docker on Debian family distro
  apt:
    name: "{{ local_system_debian_docker_packages_install }}"
    state: present
    update_cache: true

# Запуск сервиса Docker с помощью Systemd:
- name: Start Docker service on Debian family distro
  systemd:
    name: "{{ local_system_docker_systemd_service }}"
    state: started
    enabled: true
    daemon_reload: true

# Проверка того был ли запущен Docker в системе:
- name: Check if Docker is working now on Debian family distro
  systemd:
    name: "{{ local_system_docker_systemd_service }}"
  register: docker_service_status

# Проверка результата запуска Docker:
- name: Verify Docker service is running on Debian family distro
  assert:
    that:
      - docker_service_status.status.ActiveState == 'active'
    fail_msg: "Docker service is not running!"
    success_msg: "Docker service is running"
