---
# Создание группы с именем docker для последующего использования в системе:
- name: Ensure that docker group exists on SUSE family distro
  group:
    name: "{{ local_system_docker_group_name }}"
    state: present

# Установка Docker с помощью пакетного менеджера:
- name: Install Docker on SUSE family distro
  zypper:
    name: "{{ local_system_suse_docker_packages_install }}"
    state: present
    update_cache: true

# Запуск сервиса Docker через Systemd:
- name: Start Docker service on SUSE family distro
  systemd:
    name: "{{ local_system_docker_systemd_service }}"
    state: started
    enabled: true
    daemon_reload: true

# Проверка того был ли запущен Docker в системе:
- name: Check if Docker is working now on SUSE family distro
  systemd:
    name: "{{ local_system_docker_systemd_service }}"
  register: docker_service_status

# Проверка результата запуска Docker:
- name: Verify Docker service is running on SUSE family distro
  assert:
    that:
      - docker_service_status.status.ActiveState == 'active'
    fail_msg: "Docker service is not running!"
    success_msg: "Docker service is running"
