---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: debian11
    image: mdd13/ansible-docker-debian:debian11
    <<: &docker_platform
      pre_build_image: true
      tmpfs:
        - /run
        - /tmp
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup:rw
      privileged: true
      cgroup_parent: docker.slice
      cgroupns_mode: host
      override_command: false
      groups: ["vault_cluster"]

  - name: debian12
    image: mdd13/ansible-docker-debian:debian12
    <<: *docker_platform

  - name: debian13
    image: mdd13/ansible-docker-debian:debian13
    <<: *docker_platform

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    links:
      group_vars: ../../../../group_vars/

verifier:
  name: ansible
