---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: ubuntu20.04
    image: mdd13/ansible-docker-ubuntu:ubuntu20.04
    <<: &docker_platform
      pre_build_image: true
      tmpfs:
        - /run
        - /tmp
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup:rw
      privileged: true
      cgroup_parent: docker.slice
      cgroupns_mode: host
      override_command: false
      security_opts:
        - seccomp=unconfined
      groups: ["vault_cluster"]

  - name: ubuntu22.04
    image: mdd13/ansible-docker-ubuntu:ubuntu22.04
    <<: *docker_platform

  - name: ubuntu24.04
    image: mdd13/ansible-docker-ubuntu:ubuntu24.04
    <<: *docker_platform

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    links:
      group_vars: ../../../../inventory/group_vars/

verifier:
  name: ansible
