---
# Создание символической ссылки на файл CA в системе:
- name: Create link on CA certificate on RedHat family distro
  file:
    state: link
    src: "{{ global_system_internal_dir_node_certificates }}/{{ global_system_internal_file_ca_certificate }}"
    dest: "{{ local_system_internal_redhat_path_ca }}"
  notify: Update RedHat CA store
