---
# Вызов роли для последующей установки и настройки Single Consul Agent в мануальном режиме на удаленных узлах:
- name: Install and configure Single Consul Agent on remote hosts
  gather_facts: true
  become: true
  hosts:
    - all

  # Вызов непосредственно самой роли Single Consul Agent для последующего развертывания кластера Consul в системе:
  roles:
    - manual-single-consul-agent

  # Информирование о том, что Single Consul Agent в мануальном режиме был успешно установлен в системе:
  post_tasks:
    - name: Wait for Consul Agent port to become available
      wait_for:
        host: 127.0.0.1
        port: "{{ global_consul_manual_agent_enable_https | ternary(global_consul_host_listening_https_port, global_consul_host_listening_http_port) }}"
        timeout: 30
      become: false

    - name: Check Consul Agent for Availability
      uri:
        url: >-
          {{
            ( 'https' if global_consul_manual_agent_enable_https else 'http' ) ~ '://127.0.0.1:' ~
            ( global_consul_host_listening_https_port if global_consul_manual_agent_enable_https else global_consul_host_listening_http_port ) ~
            '/v1/agent/self'
          }}
        method: GET
        timeout: 10
        return_content: false
        status_code: [200]
        validate_certs: "{{ global_consul_manual_agent_enable_https }}"
        client_cert: >-
          {{ (local_consul_manual_agent_dir_tls ~ '/' ~ inventory_hostname ~ '.crt.pem') if global_consul_manual_agent_enable_https else omit }}
        client_key: >-
          {{ (local_consul_manual_agent_dir_tls ~ '/' ~ inventory_hostname ~ '.key.pem') if global_consul_manual_agent_enable_https else omit }}
        ca_path: >-
          {{ (local_consul_manual_agent_dir_tls ~ '/' ~ external_consul_manual_cluster_file_ca_certificate) if global_consul_manual_agent_enable_https else omit }}
