---
# Вызов предварительной роли system-prepare для полноценного запуска текущей роли:
- name: Import system-prepare role for running current role on Debian family distro
  import_role:
    name: system-prepare
    tasks_from: main

# Создание группы с именем Vault:
- name: Create Vault group on Debian family distro
  group:
    name: "{{ local_vault_manual_group }}"
    gid: "{{ local_vault_manual_group_id }}"
    state: present

# Создание пользователя с именем Vault:
- name: Create Vault user on Debian family distro
  user:
    name: "{{ local_vault_manual_user }}"
    groups: "{{ local_vault_manual_group }}"
    home: "{{ local_vault_manual_dir_data }}"
    uid: "{{ local_vault_manual_user_id }}"
    shell: /sbin/nologin
    create_home: true
    append: true

# Создание нескольких директорий для последующей работы с Vault:
- name: Create Vault directories on Debian family distro
  file:
    state: directory
    path: "{{ item.path }}"
    mode: "{{ local_vault_manual_dir_mode }}"
    owner: "{{ local_vault_manual_user }}"
    group: "{{ local_vault_manual_group }}"
  loop:
    - {path: "{{ local_vault_manual_dir_config }}"}
    - {path: "{{ local_vault_manual_dir_data }}"}

# Загрузка архива с бинарным файлом Vault из Интернета по прямой ссылке:
- name: Download Vault archive for future installation on Debian family distro
  get_url:
    url: "{{ local_vault_manual_file_archive_link }}"
    mode: "{{ local_vault_manual_file_mode }}"
    dest: "/tmp/{{ local_vault_manual_file_archive_name }}"
    checksum: "{{ global_vault_file_archive_checksum }}"
    force: false
  register: vault_download_result
  retries: 3
  delay: 5
  until: vault_download_result is success

# Извлечение архива и перемещение бинарного файла в соответствующую директорию:
- name: Unpack the Vault archive and move the binary file on Debian family distro
  unarchive:
    src: "/tmp/{{ local_vault_manual_file_archive_name }}"
    dest: "{{ local_vault_manual_path_binary }}"
    creates: "{{ local_vault_manual_path_binary }}/vault"
    mode: "0755"
    remote_src: true

# Копирование всех конфигурационных файлов Vault и их последующая отправка в соответствующие директории:
- name: Copy Vault configuration files from templates on Debian family distro
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default(local_vault_manual_file_mode) }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
  loop:
    - src: "templates/{{ local_vault_manual_file_autocomplete_j2 }}"
      dest: "{{ local_vault_manual_file_autocomplete_path }}"
      mode: "{{ local_vault_manual_file_mode }}"
      owner: "{{ local_vault_manual_user }}"
      group: "{{ local_vault_manual_group }}"
    - src: "templates/{{ local_vault_manual_file_config }}.j2"
      dest: "{{ local_vault_manual_dir_config }}/{{ local_vault_manual_file_config }}"
      mode: "{{ local_vault_manual_file_mode }}"
      owner: "{{ local_vault_manual_user }}"
      group: "{{ local_vault_manual_group }}"
  notify: Restart Single Vault

# Копирование Systemd файла из директории templates и его последующая передача в соответствующую директорию:
- name: Copy Vault Systemd config on Debian family distro
  template:
    src: "templates/{{ local_vault_manual_file_systemd }}.j2"
    dest: "/usr/lib/systemd/system/{{ local_vault_manual_file_systemd }}"
    mode: "{{ local_vault_manual_file_mode }}"
    owner: "0"
    group: "0"
  when: ansible_distribution == 'Ubuntu' or (ansible_distribution == 'Debian' and ansible_distribution_major_version | int >= 12)
  notify: Restart Single Vault

# Копирование Systemd файла из директории templates и его последующая передача в соответствующую директорию:
- name: Copy Vault Systemd config on Debian family distro (Old Debian Versions)
  template:
    src: "templates/{{ local_vault_manual_file_systemd }}.j2"
    dest: "/etc/systemd/system/{{ local_vault_manual_file_systemd }}"
    mode: "{{ local_vault_manual_file_mode }}"
    owner: "0"
    group: "0"
  when: ansible_distribution == 'Debian' and ansible_distribution_major_version | int < 12
  notify: Restart Single Vault

# Запуск и добавление в автозагрузку сервиса Vault с помощью Systemd:
- name: Start Vault service on Debian family distro
  systemd:
    name: vault
    state: started
    enabled: true
    daemon_reload: true
