---
# Определение пути к Systemd unit файлу в зависимости от дистрибутива:
- name: Set systemd unit path based on distribution
  set_fact:
    local_vault_manual_systemd_path: >-
      {{ '/etc/systemd/system'
         if (ansible_distribution == 'Debian' and ansible_distribution_major_version | int < 12)
         else '/usr/lib/systemd/system' }}

# Создание группы с именем Vault:
- name: Create Vault group on Linux distro
  group:
    name: "{{ local_vault_manual_group }}"
    gid: "{{ local_vault_manual_group_id }}"
    state: present

# Создание пользователя с именем Vault:
- name: Create Vault user on Linux distro
  user:
    name: "{{ local_vault_manual_user }}"
    groups: "{{ local_vault_manual_group }}"
    home: "{{ local_vault_manual_dir_data }}"
    uid: "{{ local_vault_manual_user_id }}"
    shell: /sbin/nologin
    create_home: true
    append: true

# Создание нескольких директорий для последующей работы с Vault:
- name: Create Vault directories on Linux distro
  file:
    state: directory
    path: "{{ item.path }}"
    mode: "{{ local_vault_manual_dir_mode }}"
    owner: "{{ local_vault_manual_user }}"
    group: "{{ local_vault_manual_group }}"
  loop:
    - {path: "{{ local_vault_manual_dir_config }}"}
    - {path: "{{ local_vault_manual_dir_data }}"}

# Проверка текущей установленной версии Vault:
- name: Check installed Vault version on Linux distro
  command: "{{ local_vault_manual_path_binary }}/vault version"
  register: vault_installed_version
  changed_when: false
  failed_when: false

# Загрузка архива с бинарным файлом Vault из Интернета по прямой ссылке:
- name: Download Vault archive for future installation on Linux distro
  get_url:
    url: "{{ local_vault_manual_file_archive_link }}"
    mode: "{{ local_vault_manual_file_mode }}"
    dest: "/tmp/{{ local_vault_manual_file_archive_name }}"
    checksum: "{{ global_vault_file_archive_checksum }}"
    force: false
  register: vault_download_result
  retries: 3
  delay: 5
  until: vault_download_result is success
  when: >
    vault_installed_version.rc != 0 or
    global_vault_current_version not in vault_installed_version.stdout

# Извлечение архива и перемещение бинарного файла в соответствующую директорию:
- name: Unpack the Vault archive and move the binary file on Linux distro
  unarchive:
    src: "/tmp/{{ local_vault_manual_file_archive_name }}"
    dest: "{{ local_vault_manual_path_binary }}"
    mode: "0755"
    remote_src: true
  when: >
    vault_installed_version.rc != 0 or
    global_vault_current_version not in vault_installed_version.stdout
  notify: Restart Single Vault

# Удаление временного архива после распаковки:
- name: Cleanup temporary archive file on Linux distro
  file:
    path: "/tmp/{{ local_vault_manual_file_archive_name }}"
    state: absent
  when: vault_download_result is changed

# Копирование всех конфигурационных файлов Vault и их последующая отправка в соответствующие директории:
- name: Copy Vault configuration files from templates on Linux distro
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default(local_vault_manual_file_mode) }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
  loop:
    - src: "templates/{{ local_vault_manual_file_autocomplete_j2 }}"
      dest: "{{ local_vault_manual_file_autocomplete_path }}"
      mode: "{{ local_vault_manual_file_mode }}"
      owner: "{{ local_vault_manual_user }}"
      group: "{{ local_vault_manual_group }}"
    - src: "templates/{{ local_vault_manual_file_config }}.j2"
      dest: "{{ local_vault_manual_dir_config }}/{{ local_vault_manual_file_config }}"
      mode: "{{ local_vault_manual_file_mode }}"
      owner: "{{ local_vault_manual_user }}"
      group: "{{ local_vault_manual_group }}"
    - src: "templates/{{ local_vault_manual_file_systemd }}.j2"
      dest: "{{ local_vault_manual_systemd_path }}/{{ local_vault_manual_file_systemd }}"
      mode: "{{ local_vault_manual_file_mode }}"
      owner: "0"
      group: "0"
  notify: Restart Single Vault

# Запуск и добавление в автозагрузку сервиса Vault с помощью Systemd:
- name: Start Vault service on Linux distro
  systemd:
    name: vault
    state: started
    enabled: true
    daemon_reload: true
