---
# Данный файл знаменует успешное завершение запускаемых ранее тестов:
- name: Verify
  hosts: all
  gather_facts: false
  tasks:
    # Добавление интервала по времени для загрузки HAProxy:
    - name: Wait 10 second for checking HAProxy
      wait_for:
        timeout: 10

    # Проверка доступности HAProxy после установки:
    - name: Check HAProxy for Availability
      uri:
        url: "http://127.0.0.1"
        method: GET
        timeout: 10
        return_content: false
        validate_certs: false
        status_code: [503]
