---
galaxy_info:
  role_name: system_docker
  namespace: mdd13
  author: Ivan Medaev
  company: Kitezh
  min_ansible_version: "2.11"
  description: |
    Install and configure Docker Engine on Linux systems.

  # Supported platforms:
  platforms:
    - name: Ubuntu
      versions:
        - focal       # 20.04
        - jammy       # 22.04
        - noble       # 24.04
    - name: Debian
      versions:
        - bullseye    # 11
        - bookworm    # 12
        - trixie      # 13
    - name: EL
      versions:
        - "8"         # RHEL 8 / CentOS 8
        - "9"         # RHEL 9 / CentOS 9
        - "10"        # RHEL 10
    - name: OpenSUSE Leap
      versions:
        - "15.6"      # Leap 15.6
        - "16.0"      # Leap 16.0
    - name: SLES
      versions:
        - "15.6"      # SLES 15 SP6
        - "16.0"      # SLES 16.0

  # Tags for Ansible Galaxy search:
  galaxy_tags:
    - docker
    - container
    - system

  # Issue tracker and repository:
  issue_tracker_url: https://github.com/exitfound/vip/issues
  repository: https://github.com/exitfound/vip

# Dependent roles will be executed before system-docker:
dependencies:
  - role: system-prepare
