---
# Переменные, необходимые для установки и настройки Docker, применимые ко всем дистрибутивам в равной степени:
local_system_docker_group_name: "docker"
local_system_docker_systemd_service: "docker"

# Переменные, необходимые для установки и настройки Docker на дистрибутиве семейства SUSE:
local_system_suse_docker_compose_dir: "/usr/local/lib/docker/cli-plugins"
local_system_suse_docker_compose_mode: "0755"
local_system_suse_docker_compose_url: "https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64"
local_system_suse_docker_packages_install:
  - docker
  - docker-bash-completion

# Переменные, необходимые для установки и настройки Docker на дистрибутиве семейства RedHat:
local_system_redhat_centos_docker_repository_baseurl: "https://download.docker.com/linux/centos/{{ ansible_distribution_major_version }}/x86_64/stable/"
local_system_redhat_centos_docker_repository_gpgkey: "https://download.docker.com/linux/centos/gpg"
local_system_redhat_centos_docker_repository_name: "docker"
local_system_redhat_docker_libcgroup: "https://kojihub.stream.centos.org/kojifiles/packages/libcgroup/0.41/19.el8/x86_64/libcgroup-0.41-19.el8.x86_64.rpm"
local_system_redhat_docker_repository_url: "https://download.docker.com/linux/rhel/docker-ce.repo"
local_system_redhat_docker_repository_destination: "/etc/yum.repos.d/docker-ce.repo"
local_system_redhat_docker_packages_install:
  - docker-ce

# Переменные, необходимые для установки и настройки Docker на дистрибутиве семейства Debian:
local_system_debian_docker_apt_repository: "https://download.docker.com/linux/{{ ansible_distribution | lower }}"
local_system_debian_docker_apt_key: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
local_system_debian_docker_destination_key: "/etc/apt/trusted.gpg.d/docker.asc"
local_system_debian_docker_file_mode: "0644"
local_system_debian_docker_packages_install:
  - docker-ce
local_system_debian_docker_packages_absent:
  - docker
  - docker.io
  - docker-engine
