---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: opensuse15.6
    image: mdd13/ansible-docker-suse:opensuse15.6
    <<: &docker_platform
      pre_build_image: true
      privileged: true
      override_command: false
      cgroup_parent: docker.slice
      cgroupns_mode: host
      security_opts:
        - seccomp=unconfined

  - name: opensuse16.0
    image: mdd13/ansible-docker-suse:opensuse16.0
    <<: *docker_platform

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    links:
      group_vars: ../../../../inventory/group_vars/

verifier:
  name: ansible
