---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: ubuntu22.04
    image: mdd13/ansible-docker-ubuntu:ubuntu22.04
    <<: &platform_defaults
      pre_build_image: true
      tmpfs:
        - /run
        - /tmp
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup:rw
      privileged: true
      cgroup_parent: docker.slice
      cgroupns_mode: host
      override_command: false
      security_opts:
        - seccomp=unconfined

  - name: ubuntu24.04
    image: mdd13/ansible-docker-ubuntu:ubuntu24.04
    <<: *platform_defaults

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: default
    ANSIBLE_RESULT_FORMAT: yaml
  inventory:
    links:
      group_vars: ../../../../inventory/group_vars/

verifier:
  name: ansible
